
.kicon-author{
  width: 48rpx; height: 48rpx;
}
.kicon-author_a{
  width: 48rpx; height: 48rpx;
}
.kicon-home{
  width: 48rpx; height: 48rpx;
}
.kicon-home_a{
  width: 48rpx; height: 48rpx;
}
.kicon-live{
  width: 48rpx; height: 48rpx;
}
.kicon-live_a{
  width: 48rpx; height: 48rpx;
}
.kicon-product{
  width: 48rpx; height: 48rpx;
}
.kicon-product_a{
  width: 48rpx; height: 48rpx;
}
.kicon-user{
  width: 48rpx; height: 48rpx;
}
.kicon-user_a{
  width: 48rpx; height: 48rpx;
}
.kicon-author_circle{
  width: 56rpx; height: 56rpx;
}
.kicon-back{
  width: 40rpx; height: 40rpx;
}
.kicon-big_screen{
  width: 64rpx; height: 64rpx;
}
.kicon-dyshop{
  width: 24rpx; height: 24rpx;
}
.kicon-filter{
  width: 24rpx; height: 24rpx;
}
.kicon-filter_b{
  width: 24rpx; height: 24rpx;
}
.kicon-live_circle{
  width: 56rpx; height: 56rpx;
}
.kicon-live_tag{
  width: 32rpx; height: 36rpx;
}
.kicon-more_icon{
  width: 32rpx; height: 32rpx;
}
.kicon-more_icon_b{
  width: 32rpx; height: 32rpx;
}
.kicon-more_icon_w{
  width: 32rpx; height: 32rpx;
}
.kicon-product_circle{
  width: 56rpx; height: 56rpx;
}
.kicon-right{
  width: 24rpx; height: 24rpx;
}
.kicon-search{
  width: 32rpx; height: 32rpx;
}
.kicon-sell_goods_0{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_1{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_2{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_3{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_4{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_5{
  width: 72rpx; height: 32rpx;
}
.kicon-sell_goods_6{
  width: 72rpx; height: 32rpx;
}
.kicon-shop_circle{
  width: 56rpx; height: 56rpx;
}
.kicon-tbshop{
  width: 24rpx; height: 24rpx;
}
.kicon-tick{
  width: 32rpx; height: 26rpx;
}
.kicon-video_circle{
  width: 56rpx; height: 56rpx;
}
.kicon-delete{
  width: 32rpx; height: 32rpx;
}
.kicon-avatar{
  width: 70rpx; height: 70rpx;
}
.kicon-checked{
  width: 10rpx; height: 10rpx;
}
.kicon-choosed{
  width: 8rpx; height: 7rpx;
}
.kicon-empty_dr{
  width: 167rpx; height: 160rpx;
}
.kicon-empty_jk{
  width: 208rpx; height: 200rpx;
}
.kicon-empty_product{
  width: 104rpx; height: 100rpx;
}
.kicon-empty_shop{
  width: 104rpx; height: 100rpx;
}
.kicon-help_cover{
  width: 335rpx; height: 160rpx;
}
.kicon-info{
  width: 9rpx; height: 9rpx;
}
.kicon-people{
  width: 60rpx; height: 96rpx;
}
.kicon-yj{
  width: 6rpx; height: 6rpx;
}
.kicon-zb_tag{
  width: 8rpx; height: 9rpx;
}
.kicon-zbdp{
  width: 16rpx; height: 16rpx;
}

.kicon-list_live_circle{
  width: 208rpx; height: 208rpx;
}